.readMoreClassName {
  color: #007bff;
  border-bottom: 1px solid lightgray;
  display: block;
}

.readMoreClassName:hover {
  color: initial;
}

.main-slide {
  width: 100%;
}

.carousel {
  text-align: center;
}

.carousel .slider-wrapper {
  width: 70%;
  height: 500px;
}

.carousel .thumb {
  width: 5%;
  height: 50px;
}