.readMoreClassName {
  color: #007bff;
  border-bottom: 1px solid lightgray;
}

.readMoreClassName:hover {
  color: initial;
}

.main-slide {
  width: 60%;
}

.main-slide .carousel {
  text-align: center;
}

.main-slide .carousel .slider-wrapper {
  width: 60%;
  height: 500px;
}

.main-slide .carousel .thumb {
  width: 5%;
  height: 50px;
}
