.sign-in {
  margin: 10% 35%;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 15px;
  width: 30rem;
}

.header-container h1 { 
  background-color: #04AA6D;
  color: #fff;
  padding: 50px;
  text-align: center;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.header-container h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-left: 12%;
  margin-bottom: 0;
  color: #04AA6D;
}

.header-container h4 {
  font-weight: 400;
  font-style: italic;
  text-align: left;
  margin-left: 12%;
  margin-top: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 50px;
  font-size: 18px;
  padding: 10px;
}

.show-password {
  padding-top: 0;
  text-align: right;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  margin: 0 50px;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;
}

a {
  text-decoration: none;
}

.btn-sign-in {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 0 180px;
  border: none;
  cursor: pointer;
  width: 25%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-sign-in:hover {
  background-color: #0c4e36;
}

.dont-have-account {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
  align-items: center;
  font-size: 15px;
}