.create-qr {
  display: flex;
  margin: 2rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  max-height: 100vh;
}

.image-link {
  border-radius: 10px;
  margin: 1px;
}

.create-qr-container {
  margin-left: 3rem;
}

.create-qr-title {
  margin: 1rem;
}

.create-qr-title h4 {
  font-style: italic;
  font-weight: 100;
  margin-top: 1rem;
}

.fill-qr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fill-qr b,
.note-qr b,
.describe-qr b {
  color: red;
}

.fill-qr-1,
.fill-qr-2 {
  display: flex;
  flex-direction: column;
}

.product-name-qr,
.time-qr,
.address-qr,
.image-qr,
.describe-qr {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  font-size: 18px;
}

.product-name-qr input,
.time-qr input,
.address-qr input {
  margin-top: 1rem;
  width: 50rem;
}

.describe-qr textarea {
  width: 105rem;
  height: 8rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.add-image-qr-icon {
  font-size: 4rem;
}

.btn-confirm {
  width: 6rem;
  height: 3rem;
  margin: 1rem;
  background-color: #dd8600;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-confirm:hover {
  transition: background-color 350ms ease-out;
  background-color: #ff9900;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.note-qr {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

/* .image-qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: 2px dashed #1475cf;
  height: 200px;
  width: 220px;
  cursor: pointer;
  border-radius: 20px;
} */

.images-link {
  display: flex;
  flex-direction: row;
}

.image {
}

@media only screen and (max-width: 600px) {
  .fill-qr {
    display: flex;
    flex-direction: column;
  }

  .product-name-qr,
  .time-qr,
  .address-qr,
  .image-qr,
  .describe-qr {
    font-size: 16px;
    margin: 0.5rem;
  }

  .product-name-qr input,
  .time-qr input,
  .address-qr input {
    margin-top: 1rem;
    width: 18rem;
  }

  .add-image-qr-icon {
    font-size: 3rem;
  }

  .image-qr form {
    height: 100px;
    width: 120px;
  }

  .describe-qr textarea {
    width: 18rem;
  }

  .note-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .fill-qr {
    display: flex;
    flex-direction: column;
  }

  .product-name-qr,
  .time-qr,
  .address-qr,
  .image-qr,
  .describe-qr {
    font-size: 16px;
    margin: 0.5rem;
  }

  .product-name-qr input,
  .time-qr input,
  .address-qr input {
    margin-top: 1rem;
    width: 28rem;
  }

  .add-image-qr-icon {
    font-size: 3rem;
  }

  .image-qr form {
    height: 100px;
    width: 120px;
  }

  .describe-qr textarea {
    width: 28rem;
  }

  .note-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fill-qr {
    display: flex;
    flex-direction: column;
  }

  .product-name-qr,
  .time-qr,
  .address-qr,
  .image-qr,
  .describe-qr {
    font-size: 16px;
    margin: 0.5rem;
  }

  .product-name-qr input,
  .time-qr input,
  .address-qr input {
    margin-top: 1rem;
    width: 45rem;
  }

  .add-image-qr-icon {
    font-size: 3rem;
  }

  .image-qr form {
    height: 100px;
    width: 120px;
  }

  .describe-qr textarea {
    width: 40rem;
  }

  .note-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .create-qr {
    min-height: 80vh;
    align-items: center;
  }
  .fill-qr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .product-name-qr,
  .time-qr,
  .address-qr,
  .image-qr,
  .describe-qr {
    font-size: 16px;
    margin: 1rem;
  }

  .product-name-qr input,
  .time-qr input,
  .address-qr input {
    margin-top: 1rem;
    width: 30rem;
  }

  .add-image-qr-icon {
    font-size: 3rem;
  }

  .image-qr form {
    height: 100px;
    width: 120px;
  }

  .describe-qr textarea {
    width: 60rem;
  }

  .note-qr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1500px) {
  .create-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }
  .fill-qr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .product-name-qr,
  .time-qr,
  .address-qr,
  .image-qr,
  .describe-qr {
    font-size: 16px;
    margin: 1rem;
  }

  .product-name-qr input,
  .time-qr input,
  .address-qr input {
    margin-top: 1rem;
    width: 40rem;
  }

  .add-image-qr-icon {
    font-size: 6rem;
  }

  .image-qr form {
    height: 200px;
    width: 220px;
  }

  .describe-qr textarea {
    width: 85rem;
  }

  .note-qr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }
}
