.trangchu {
  align-items: center;
}

.tintuc {
  text-align: center;
  margin-top: 2rem;
}

.tintuc img {
  max-width: 100%;
  height: 18rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.trangchu-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-taoma,.btn-quytrinh {
  width: 55rem;
  height: 20rem;
  margin: 2rem 0.8rem;
  border-radius: 10px;
  font-size: 2rem;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-taoma:hover,.btn-quytrinh:hover {
  background-color: #2ECC71;
  transition: background-color 350ms ease-out;
}

.link-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000 ;
}

.link-icon:hover {
  color: #fff;
}

.qr-icon, .process-icon {
  font-size: 8rem;
}

.danhsach {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.danhsach table {
  width: 112rem;
  height: 30vh;
  border: 2px solid forestgreen;
  border-radius: 0.5rem;
  margin-bottom: 14rem;
}
  
.danhsach th {
  border-bottom: 1px solid black;
  margin: 20px;
  font-size: 22px;
}
  
.danhsach td {
  text-align: center;
  font-size: 18px;
}

.btn-xem {
  padding: 12px;
  background-color: #2ECC71;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-xem:hover {
  transition: background-color 350ms ease-out;
  background-color: forestgreen;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.check-icon {
  color: rgb(8, 238, 27);
  width: 30px;
  height: 30px;
}

.close-icon {
  color: red;
  width: 30px;
  height: 30px;
}