.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #2ECC71;
  color: #fff;
  position: fix;
  bottom: 0;
  width: 100%;
}

.enfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #FFB100;
  color: #fff;
  position: fix;
  bottom: 0;
  width: 100%;
}

.footer img {
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.trace-logo { width: 100px; }
.hcmus-logo { width: 230px; }

@media only screen and (max-width: 600px) {
  .footer { padding: 0.5rem; }
  .footer h3 { font-size: 12px; }
  .trace-logo { width: 60px; }
  .hcmus-logo { width: 140px; }
}

@media only screen and (min-width: 600px) {
  .footer { padding: 0.75rem; }
  .footer h3 { font-size: 14px; }
  .trace-logo { width: 60px; }
  .hcmus-logo { width: 140px; }
 }
