.update-process {
  display: flex;
  margin: 2rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  min-height: 80vh;
}

.update-process-container {
  margin-left: 3rem;
}

.update-process-title {
  margin: 1rem;
}

.update-process-title h4 {
  font-style: italic;
  font-weight: 100;
  margin-top: 1rem;
}

.fill-update-process {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fill-update-process b, .note-update-process b, .describe-update-process b  {
  color: red;
}

.fill-update-process-1, .fill-update-process-2 {
  display: flex;
  flex-direction: column;
}

.update-process-name, .time-update-process, .address-update-process, .describe-update-process {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  font-size: 18px;
}

.update-process-name input, .time-update-process input, .address-update-process input {
  margin-top: 1rem;
  width: 50rem;
}

.describe-update-process textarea {
  width: 105rem;
  height: 8rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.btn-confirm {
  width: 6rem;
  height: 3rem;
  margin: 1rem;
  background-color: #DD8600;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-confirm:hover {
  transition: background-color 350ms ease-out;
  background-color: #ff9900;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.note-update-process {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .fill-update-process {
    display: flex;
    flex-direction: column;
  }

  .update-process-name, .time-update-process, .address-update-process,  .describe-update-process {
    font-size: 16px;
    margin: 0.5rem;
  }

  .update-process-name input, .time-update-process input, .address-update-process input {
    margin-top: 1rem;
    width: 18rem;
  }
 
  .describe-update-process textarea {
    width: 100%;
    height: 20rem;
  }

  .note-update-process { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .fill-update-process {
    display: flex;
    flex-direction: column;
  }

  .update-process-name, .time-update-process, .address-update-process, .describe-update-process {
    font-size: 16px;
    margin: 0.5rem;
  }

  .update-process-name input, .time-update-process input, .address-update-process input {
    margin-top: 1rem;
    width: 28rem;
  }
  
  .describe-update-process textarea {
    width: 100%;
    height: 20rem;
  }

  .note-update-process { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .update-process {
    justify-content: center;
  }
  .fill-update-process {
    display: flex;
    flex-direction: column;
  }

  .update-process-name, .time-update-process, .address-update-process, .describe-update-process {
    font-size: 16px;
    margin: 0.5rem;
  }

  .update-process-name input, .time-update-process input, .address-update-process input {
    margin-top: 1rem;
    width: 38rem;
  }

  .describe-update-process textarea {
    width: 100%;
    height: 20rem;
  }

  .note-update-process { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .update-process {
    align-items: center;
  }
  .fill-update-process {
    display: flex;
    flex-direction: row;
  }

  .update-process-name, .time-update-process, .address-update-process, .describe-update-process {
    font-size: 18px;
    margin: 1rem;
  }

  .update-process-name input, .time-update-process input, .address-update-process input {
    margin-top: 1rem;
    width: 30rem;
  }
  
  .describe-update-process textarea {
    width: 100%;
    height: 20rem;
  }

  .note-update-process { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  .update-process {
    align-items: center;
  }
  .fill-update-process {
    display: flex;
    flex-direction: row;
  }

  .update-process-name, .time-update-process, .address-update-process, .describe-update-process {
    font-size: 18px;
    margin: 1rem;
  }

  .update-process-name input, .time-update-process input, .address-update-process input {
    margin-top: 1rem;
    width: 41rem;
  }

  .describe-update-process textarea {
    width: 100%;
    height: 20rem;
  }

  .note-update-process { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
  }
}
