.list{
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.list-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 2rem 4rem;
}

.MuiTableHead-root {
  display: table-header-group;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.check-icon {
  color: rgb(8, 238, 27);
  width: 30px;
  height: 30px;
}

.close-icon {
  color: red;
  width: 30px;
  height: 30px;
}

.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list table {
  width: 100rem;
  height: 50vh;
  border: 2px solid forestgreen;
  border-radius: 0.5rem;
}
  
.product-list th {
  border-bottom: 1px solid black;
  margin: 20px;
  font-size: 22px;
}
  
.product-list td {
  text-align: center;
  font-size: 18px;
}

.btn-edit-product {
  padding: 12px;
  background-color: #2ECC71;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-remove-product {
  padding: 12px;
  background-color: #be1515;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-remove-product:hover {
  transition: background-color 350ms ease-out;
  background-color: #920808;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
}

.btn-edit-product:hover, .btn-add-product:hover {
  transition: background-color 350ms ease-out;
  background-color: forestgreen;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.product-list .pagination {
  display: inline-flex;
  margin-top: 3rem;
}

.product-list .page-item {
  list-style-type: none;
  margin: 0.5rem;
  color: #000;
}

.product-list .page-item:hover {
  font-weight: 700;
  border-radius: 2rem;
  transition: background-color 350ms ease-out;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
  0 4px 6px -2px rgba(71, 63, 79, 0.16);
}

.product-list .page-link {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #2ECC71;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product-list .page-link:hover {
  transition: background-color 350ms ease-out;
  background-color: forestgreen;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media only screen and (max-width: 600px) { 
  .list {
    min-height: 85vh;
    justify-content: center;
  }
  .list-title { margin: 1rem 3rem; }
  .list-title h2 { font-size: 18px; }
  .product-list table { 
    width: 26rem;
  }
  .product-list th {
    font-size: 12px;
    margin: 16px;
  }
  .product-list td { font-size: 14px; }
  .btn-add-product {
    width: 8rem;
    height: 2rem;
    font-size: 14px;
  }
  .btn-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
  }
  .btn-edit-product, .btn-remove-product {
    padding: 10px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .list { justify-content: center; }
  .list-title { margin: 1rem 5rem; }
  .list-title h2 { font-size: 22px; }
  .product-list table { width: 35rem; }
  .product-list th {
    font-size: 14px;
    margin: 16px;
  }
  .product-list td { font-size: 16px; }
  .btn-add-product {
    width: 8rem;
    height: 3rem;
    font-size: 16px;
  }
  .btn-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
  }
  .btn-edit-product, .btn-remove-product {
    padding: 12px;
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .list {
    min-height: 85vh;
    justify-content: center;
  }
  .list-title { 
    margin: 1rem 3rem; 
  }
  .list-title h2 { font-size: 22px; }
  .product-list table { 
    width: 55rem;
  }
  .product-list th {
    font-size: 14px;
    margin: 16px;
  }
    
  .product-list td {
    font-size: 16px;
  }

  .btn-add-product {
    width: 8rem;
    height: 3rem;
    font-size: 16px;
  }

  .btn-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
  }
  .btn-edit-product, .btn-remove-product {
    padding: 12px;
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .list {
    min-height: 85vh;
    justify-content: center;
  }
  .list-title { 
    margin: 1rem 5rem; 
  }
  .list-title h2 { font-size: 22px; }
  .product-list table { 
    width: 60rem;
  }
  .product-list th {
    font-size: 14px;
    margin: 16px;
  }
    
  .product-list td {
    font-size: 16px;
  }

  .btn-add-product {
    width: 8rem;
    height: 3rem;
    font-size: 16px;
  }

  .btn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
  }
  .btn-edit-product, .btn-remove-product {
    padding: 12px;
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .list {
    min-height: 85vh;
    justify-content: center;
  }
  .list-title { 
    margin: 2rem 6rem; 
  }
  .list-title h2 { font-size: 24px; }
  .product-list table { 
    width: 80%;
  }
  .product-list th {
    font-size: 16px;
    margin: 16px;
  }
    
  .product-list td {
    font-size: 18px;
  }

  .btn-add-product {
    width: 8rem;
    height: 3rem;
    font-size: 16px;
  }

  .btn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
  }
  .btn-edit-product, .btn-remove-product {
    padding: 14px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  .list {
    min-height: 85vh;
    justify-content: center;
  }
  .list-title { 
    margin: 2rem 6rem; 
  }
  .list-title h2 { font-size: 26px; }
  .product-list table { 
    width: 90%;
  }
  .product-list th {
    font-size: 18px;
    margin: 16px;
  }
    
  .product-list td {
    font-size: 18px;
  }

  .btn-add-product {
    width: 10rem;
    height: 4rem;
    font-size: 18px;
  }

  .btn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
  }
  .btn-edit-product, .btn-remove-product {
    padding: 14px;
    font-size: 18px;
  }
}
